@media (max-width: 480px) {
  #nav {
    padding: 5vw 5vw 0vw 4vw;
  }
  .nav2,
  .nav3 {
    display: none;
  }
  .nav1 > img {
    height: 10vw;
  }
  .nav1 > h1 {
    font-size: 4.5vw;
    top: 2.5vw;
    left: 6vw;
  }
  .hero-line-con {
    display: none;
  }
  .hero-con {
   position: static;
   width: 100%;
   height: 100%;
   justify-content: space-between;
   padding: 15vw 0 2vw 0;
  }
  .hero-title h1{
    font-size: 5vw;
  }

  .phone-black, .phone-white {
    position: absolute;
    width: 34vw;
    height: 79vw;}


.phone-black{
     right: -50vw;
     bottom: -20vh;
}

.phone-white{
    right: -50vw;
     bottom: -20vh;
}

.hero-info{
    font-size: 7vw;
    text-align: center;
}

.hero-info>br{
    display: block;
}
.hero-info>span{
    display: none;
}

}