@font-face {
  font-family: "Ndot";
  src: url(../font/Ndot-55-DoenNkNm.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Korataki-Rg";
  src: url(../font/korataki-rg-3cf0d889-B6eTgmP5.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Korataki ";
  src: url(../font/korataki-rg-3cf0d889.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sansation";
  src: url(../font/Sansation_Regular-COtNG1MQ.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Korataki", sans-serif;
  color: var(--white);
}

:root {
  --black: #000000;
  --white: #fff;
  --grey: #999d9c;
  --light-grey: #647a9f;
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  overflow-x: hidden;
  background-color: var(--black);
}
/* Navigation Bar */
#nav {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1.9vw 1vw 0 1.5vw;

  justify-content: space-between;
}

.nav1 > img {
  height: 6.5vw;
}
.nav1 {
  position: relative;
}

.nav1 > h1 {
  font-family: "Ndot", sans-serif;
  font-size: 3.5vw;
  margin-right: 2vw;
  font-weight: 100;
  text-transform: uppercase;
  position: absolute;
  background: transparent;
  top: 1.3vw;
  left: 3vw;
}

.nav2 {
  position: relative;
}
.nav2 > #search {
  position: absolute;
  width: 15vw;
  top: 1vw;
  left: 2vw;
  background: transparent;
  border: none;
  font-size: 1.4vw;
  padding: 0.3vw;
  outline: none;
}

#search::placeholder {
  color: var(--light-grey);
}
.nav2 > img {
  width: 21vw;
  height: 9vh;
}

.nav3 {
  display: flex;
  align-items: center;
  gap: 2vw;
}
.nav3-img {
  position: relative;
}
.nav3-img > a {
  font-family: "Korataki-Rg", sans-serif;
  position: absolute;
  top: 1.4vw;
  left: 1.5vw;
  text-decoration: none;
  font-size: 1vw;
  text-align: center;
}
.nav3-img > .nav-a {
  left: 3vw;
}
.nav3-img > .nav-b {
  left: 3vw;
}
.nav3-img > img {
  width: 11vw;
  height: 10vh;
}

/*Hero  Section */

#hero {
  width: 100%;
  height: 84vh;
  position: relative;
}

.hero-con {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 10vh;
  left: 3vw;
  gap: 4vw;
}
.hero-title h1 {
  font-family: "Korataki-Rg", sans-serif;
  font-size: 2.8vw;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.5;
  color: var(--grey);
}

.hero-info {
  font-family: "Ndot", sans-serif;
  font-size: 1.5vw;
  font-weight: 100;
  color: var(--grey);
  word-spacing: 0.2vw;
  padding-left: 2vw;
}
.hero-info > br {
  display: none;
}

/* Base styles for all hero lines */
.hero-line1,
.hero-line2,
.hero-line3,
.hero-line4,
.hero-line5,
.hero-line6,
.hero-line7,
.hero-line8,
.hero-line9,
.hero-line10,
.hero-line11,
.hero-line12,
.hero-line13 {
  position: absolute;
  width: 0;
  height: 0;
  will-change: width;
  transform: translateZ(0);
  backface-visibility: hidden;
}

.hero-line1 {
  top: 5.2vh;
  left: 17.9vw;
  transform: rotate(35deg) translateZ(0);
}

.hero-line2 {
  top: 11vh;
  left: 26.1vw;
}

.hero-line3 {
  top: 16.1vh;
  left: 40.3vw;
  transform: rotate(35deg) translateZ(0);
}

.hero-line4 {
  top: 21.2vh;
  left: 47.5vw;
}

.hero-line5 {
  top: 20.5vh;
  left: 35vw;
  transform: rotate(35deg) translateZ(0);
}

.hero-line6 {
  top: 30vh;
  left: 48.6vw;
}

.hero-line7 {
  top: 33.1vh;
  left: 53vw;
  transform: rotate(35deg) translateZ(0);
}

.hero-line8 {
  top: 36.2vh;
  left: 57.6vw;
}

.hero-line9 {
  top: 33.1vh;
  left: 72.1vw;
  transform: rotate(145deg) translateZ(0);
}

.hero-line10 {
  top: 30vh;
  left: 76.6vw;
}

.hero-line11 {
  bottom: 7vh;
  left: 0;
}

.hero-line12 {
  bottom: 10.7vh;
  left: 49.4vw;
  transform: rotate(138deg) translateZ(0);
}

.hero-line13 {
  bottom: 14.5vh;
  left: 53.7vw;
}

.phone-black,
.phone-white {
  position: absolute;
  width: 25vw;
  height: 28vw;
  transform: rotate(325deg);
  will-change: transform, opacity;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.phone-black {
  background-image: url("../assets/hero-phone-black.png");
  right: -30vw;
  bottom: -8vh;
}

.phone-white {
  background-image: url("../assets/phone-White.svg");
  right: -25vw;
  bottom: -3vh;
}

/*Feature Section */
#feature {
  width: 100%;
  height: 100vh;
  position: relative;
}

.head-feature {
  font-family: "Korataki-Rg", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-size: 5vw;
  text-shadow: 0px 0px 7px #fff;
  padding-top: 2vw;
  color: #fff;
}

/* Common text style */
.feature-text {
  font-family: "Korataki";
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  color: #fff;
  text-align: center;
  gap: 3vw;
}

.feature-text h1 {
  font-size: 2.3vw;
  margin: 0;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.05em;
}

.feature-text p {
  font-size: 1.3vw;
  margin: 0;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-align: start;
}

/* ===== Left Top ===== */
.left-top-text {
  top: 8vh;
  left: 15vw;
  width: 18vw;
  height: 20vh;
  padding-left: .3vw;
}

.lt1 {
  width: 18vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 3vh;
  left: 14vw;
}

.lt2 {
  width: 13.06vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 17.3vh;
  left: 7.5vw;
  transform: rotate(90deg);
}

.lt3 {
  width: 13.94vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 32vh;
  left: 14vw;
}

.lt4 {
  width: 5.5vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 28vh;
  left: 27.2vw;
  transform: rotate(139deg);
}

.lt5 {
  width: 9.58vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 13.6vh;
  left: 27.2vw;
  transform: rotate(90deg);
}

/* ===== Left Mid ===== */
.left-mid-text {
  top: 45vh;
  left: 10vw;
   width: 18vw;
  height: 20vh;
   padding-left: .9vw;
}

.lm1 {
  width: 18vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 39.9vh;
  left: 9.8vw;
}

.lm2 {
  width: 13.06vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 54.6vh;
  left: 3.3vw;
  transform: rotate(90deg);
}

.lm3 {
  width: 13.94vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 69vh;
  left: 9.8vw;
}

.lm4 {
  width: 5.5vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 65vh;
  left: 23vw;
  transform: rotate(139deg);
}

.lm5 {
  width: 9.58vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 50.5vh;
  left: 23vw;
  transform: rotate(90deg);
}

/* ===== Mid Left Top ===== */
.mid-left-top-text {
    top: 31vh;
  left:33vw;
   width: 18vw;
  height: 20vh;
   padding-left: .4vw;
}

.mlt1 {
  width: 13.94vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 26vh;
  left: 35.2vw;
}

.mlt2 {
  width: 5.5vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 30vh;
  left: 30.4vw;
  transform: rotate(139deg);
}

.mlt3 {
  width: 9.58vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 44.4vh;
  left: 26.3vw;
  transform: rotate(90deg);
}

.mlt4 {
  width: 18vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 55vh;
  left: 31.1vw;
}

.mlt5 {
  width: 13.06vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 40.5vh;
  left: 42.6vw;
  transform: rotate(90deg);
}

/* ===== Mid Left Bottom ===== */
.mid-left-bottom-text {
   bottom: 13vh;
  left: 30vw;
  width: 18vw;
  height: 20vh;
}

.mlb1 {
  width: 18vw;
  border: 1.5px solid #fff;
  position: absolute;
  bottom: 38vh;
  left: 31.1vw;
}

.mlb2 {
  width: 5.5vw;
  border: 1.5px solid #fff;
  position: absolute;
  bottom: 34.1vh;
  left: 26.4vw;
  transform: rotate(139deg);
}

.mlb3 {
  width: 9.58vw;
  border: 1.5px solid #fff;
  position: absolute;
  bottom: 19.5vh;
  left: 22.4vw;
  transform: rotate(90deg);
}

.mlb4 {
  width: 22vw;
  border: 1.5px solid #fff;
  position: absolute;
  bottom: 9vh;
  left: 27.2vw;
}

.mlb5 {
  width: 13.06vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 76.3vh;
  left: 42.6vw;
  transform: rotate(90deg);
}

/* ===== Mid Right Top ===== */
.mid-right-top-text {
  top: 30vh;
  right: 29vw;
  width: 18vw;
  height: 20vh;
   padding-left: .4vw;
}

.mrt1 {
  width: 13.94vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 26vh;
  right: 34vw;
}

.mrt2 {
  width: 13.06vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 40.5vh;
  right: 41.3vw;
  transform: rotate(90deg);
}

.mrt3 {
  width: 18vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 55vh;
  right: 29.9vw;
}

.mrt4 {
  width: 9.58vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 44.4vh;
  right: 25.1vw;
  transform: rotate(90deg);
}

.mrt5 {
  width: 5.5vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 30vh;
  right: 29.2vw;
  transform: rotate(41deg);
}

/* ===== Mid Right Bottom ===== */
.mid-right-bottom-text {
  right: 28vw;
    bottom: 13vh;
   width: 18vw;
  height: 20vh;
  line-height:1;
}

.mrb1 {
  width: 18vw;
  border: 1.5px solid #fff;
  position: absolute;
  bottom: 38vh;
  right: 29.9vw;
}

.mrb2 {
  width: 13.06vw;
  border: 1.5px solid #fff;
  position: absolute;
  bottom: 23.6vh;
  right: 41.3vw;
  transform: rotate(90deg);
}

.mrb3 {
  width: 22vw;
  border: 1.5px solid #fff;
  position: absolute;
  bottom: 9vh;
  right: 25.9vw;
}

.mrb4 {
  width: 9.58vw;
  border: 1.5px solid #fff;
  position: absolute;
  bottom: 19.5vh;
  right: 21.1vw;
  transform: rotate(90deg);
}

.mrb5 {
  width: 5.5vw;
  border: 1.5px solid #fff;
  position: absolute;
  bottom: 34.1vh;
  right: 25.2vw;
  transform: rotate(41deg);
}

/* ===== Right Mid ===== */
.right-mid-set-text {
top: 45vh;
  right: 9vw;
  width: 15vw;
  height: 18vh;
}

.rm1 {
  width: 18vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 39.9vh;
  right: 8.7vw;
}

.rm2 {
  width: 9.58vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 50.5vh;
  right: 21.9vw;
  transform: rotate(90deg);
}

.rm3 {
  width: 5.5vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 65vh;
  right: 21.9vw;
  transform: rotate(41deg);
}

.rm4 {
  width: 13.94vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 69vh;
  right: 8.7vw;
}

.rm5 {
  width: 13.06vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 54.6vh;
  right: 2.2vw;
  transform: rotate(90deg);
}

/* ===== Right Top ===== */
.right-top-text {
    top: 9vh;
  right: 14vw;
 width: 15vw;
  height: 18vh;
}

.rt1 {
  width: 18vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 3vh;
  right: 14vw;
}

.rt2 {
  width: 9.58vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 13.6vh;
  right: 27.2vw;
  transform: rotate(90deg);
}

.rt3 {
  width: 5.5vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 28vh;
  right: 27.2vw;
  transform: rotate(41deg);
}

.rt4 {
  width: 13.94vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 32vh;
  right: 14vw;
}

.rt5 {
  width: 13.06vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 17.3vh;
  right: 7.5vw;
  transform: rotate(90deg);
}
