@font-face {
  font-family: "Ndot";
  src: url(../font/Ndot-55-DoenNkNm.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Korataki-Rg";
  src: url(../font/korataki-rg-3cf0d889-B6eTgmP5.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Korataki";
  src: url(../font/korataki-rg-3cf0d889.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sansation";
  src: url(../font/Sansation_Regular-COtNG1MQ.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --black: #000000;
  --white: #fff;
  --grey: #999d9c;
  --light-grey: #647a9f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--white);
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  overflow-x: hidden;
  background-color: var(--black);
}

/* =========================
   Navigation Bar
========================= */
#nav {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1.9vw 1vw 0 1.5vw;
  justify-content: space-between;
}
#nav .nav1 {
  position: relative;
}
#nav .nav1 img {
  height: 6.5vw;
}
#nav .nav1 h1 {
  font-family: "Ndot", sans-serif;
  font-size: 3.5vw;
  margin-right: 2vw;
  font-weight: 100;
  text-transform: uppercase;
  position: absolute;
  background: transparent;
  top: 1.3vw;
  left: 3vw;
}
#nav .nav2 {
  position: relative;
}
#nav .nav2 #search {
  position: absolute;
  width: 15vw;
  top: 1vw;
  left: 2vw;
  background: transparent;
  border: none;
  font-size: 1.4vw;
  padding: 0.3vw;
  outline: none;
}
#nav .nav2 #search::-moz-placeholder {
  color: var(--light-grey);
}
#nav .nav2 #search::placeholder {
  color: var(--light-grey);
}
#nav .nav2 img {
  width: 21vw;
  height: 9vh;
}
#nav .nav3 {
  display: flex;
  align-items: center;
  gap: 2vw;
}
#nav .nav3 .nav3-img {
  position: relative;
}
#nav .nav3 .nav3-img a {
  font-family: "Korataki-Rg", sans-serif;
  position: absolute;
  top: 1.4vw;
  left: 1.5vw;
  text-decoration: none;
  font-size: 1vw;
  text-align: center;
}
#nav .nav3 .nav3-img .nav-a {
  left: 3vw;
}
#nav .nav3 .nav3-img .nav-b {
  left: 3vw;
}
#nav .nav3 .nav3-img img {
  width: 11vw;
  height: 10vh;
}

/* =========================
   Hero Section
========================= */
#hero {
  width: 100%;
  height: 84vh;
  position: relative;
}
#hero .hero-con {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 10vh;
  left: 3vw;
  gap: 4vw;
}
#hero .hero-con .hero-title h1 {
  font-family: "Korataki-Rg", sans-serif;
  font-size: 2.8vw;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.5;
  color: var(--grey);
}
#hero .hero-con .hero-info {
  font-family: "Ndot", sans-serif;
  font-size: 1.5vw;
  font-weight: 100;
  color: var(--grey);
  word-spacing: 0.2vw;
  padding-left: 2vw;
}
#hero .hero-con .hero-info br {
  display: none;
}
#hero .hero-line1 {
  position: absolute;
  width: 0;
  height: 0;
  will-change: width;
  transform: translateZ(0);
  backface-visibility: hidden;
}
#hero .hero-line2 {
  position: absolute;
  width: 0;
  height: 0;
  will-change: width;
  transform: translateZ(0);
  backface-visibility: hidden;
}
#hero .hero-line3 {
  position: absolute;
  width: 0;
  height: 0;
  will-change: width;
  transform: translateZ(0);
  backface-visibility: hidden;
}
#hero .hero-line4 {
  position: absolute;
  width: 0;
  height: 0;
  will-change: width;
  transform: translateZ(0);
  backface-visibility: hidden;
}
#hero .hero-line5 {
  position: absolute;
  width: 0;
  height: 0;
  will-change: width;
  transform: translateZ(0);
  backface-visibility: hidden;
}
#hero .hero-line6 {
  position: absolute;
  width: 0;
  height: 0;
  will-change: width;
  transform: translateZ(0);
  backface-visibility: hidden;
}
#hero .hero-line7 {
  position: absolute;
  width: 0;
  height: 0;
  will-change: width;
  transform: translateZ(0);
  backface-visibility: hidden;
}
#hero .hero-line8 {
  position: absolute;
  width: 0;
  height: 0;
  will-change: width;
  transform: translateZ(0);
  backface-visibility: hidden;
}
#hero .hero-line9 {
  position: absolute;
  width: 0;
  height: 0;
  will-change: width;
  transform: translateZ(0);
  backface-visibility: hidden;
}
#hero .hero-line10 {
  position: absolute;
  width: 0;
  height: 0;
  will-change: width;
  transform: translateZ(0);
  backface-visibility: hidden;
}
#hero .hero-line11 {
  position: absolute;
  width: 0;
  height: 0;
  will-change: width;
  transform: translateZ(0);
  backface-visibility: hidden;
}
#hero .hero-line12 {
  position: absolute;
  width: 0;
  height: 0;
  will-change: width;
  transform: translateZ(0);
  backface-visibility: hidden;
}
#hero .hero-line13 {
  position: absolute;
  width: 0;
  height: 0;
  will-change: width;
  transform: translateZ(0);
  backface-visibility: hidden;
}
#hero .hero-line1 {
  top: 5.2vh;
  left: 17.9vw;
  transform: rotate(35deg) translateZ(0);
}
#hero .hero-line2 {
  top: 11vh;
  left: 26.1vw;
}
#hero .hero-line3 {
  top: 16.1vh;
  left: 40.3vw;
  transform: rotate(35deg) translateZ(0);
}
#hero .hero-line4 {
  top: 21.2vh;
  left: 47.5vw;
}
#hero .hero-line5 {
  top: 20.5vh;
  left: 35vw;
  transform: rotate(35deg) translateZ(0);
}
#hero .hero-line6 {
  top: 30vh;
  left: 48.6vw;
}
#hero .hero-line7 {
  top: 33.1vh;
  left: 53vw;
  transform: rotate(35deg) translateZ(0);
}
#hero .hero-line8 {
  top: 36.2vh;
  left: 57.6vw;
}
#hero .hero-line9 {
  top: 33.1vh;
  left: 72.1vw;
  transform: rotate(145deg) translateZ(0);
}
#hero .hero-line10 {
  top: 30vh;
  left: 76.6vw;
}
#hero .hero-line11 {
  bottom: 7vh;
  left: 0;
}
#hero .hero-line12 {
  bottom: 10.7vh;
  left: 49.4vw;
  transform: rotate(138deg) translateZ(0);
}
#hero .hero-line13 {
  bottom: 14.5vh;
  left: 53.7vw;
}
#hero .phone-black,
#hero .phone-white {
  position: absolute;
  width: 25vw;
  height: 28vw;
  transform: rotate(325deg);
  will-change: transform, opacity;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#hero .phone-black {
  background-image: url("../assets/hero-phone-black.png");
  right: -30vw;
  bottom: -8vh;
}
#hero .phone-white {
  background-image: url("../assets/phone-White.svg");
  right: -30vw;
  bottom: -3vh;
}

/*Feature Section */
#feature {
  width: 100%;
  height: 100vh;
  position: relative;
}

.head-feature {
  font-family: "Korataki-Rg";
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-size: 5vw;
  text-shadow: 0px 0px 7px #fff;
  padding-top: 2vw;
  color: #fff;
  opacity: 0;
}

/* Common text style */
.feature-text {
  font-family: "Sansation";
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  color: #fff;
  text-align: center;
  gap: 3vw;
}

.feature-text h1 {
  font-size: 2.3vw;
  margin: 0;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.05em;
}

.feature-text p {
  font-size: 1.3vw;
  margin: 0;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-align: start;
}

/* ===== Left Top ===== */
.left-top-text {
  top: 8vh;
  left: 15vw;
  width: 18vw;
  height: 20vh;
  padding-left: 0.3vw;
}

.lt1 {
  width: 18vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 3vh;
  left: 14vw;
}

.lt2 {
  width: 13.06vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 17.3vh;
  left: 7.5vw;
  transform: rotate(90deg);
}

.lt3 {
  width: 13.94vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 32vh;
  left: 14vw;
}

.lt4 {
  width: 5.5vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 28vh;
  left: 27.2vw;
  transform: rotate(139deg);
}

.lt5 {
  width: 9.58vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 13.6vh;
  left: 27.2vw;
  transform: rotate(90deg);
}

/* ===== Left Mid ===== */
.left-mid-text {
  top: 45vh;
  left: 10vw;
  width: 18vw;
  height: 20vh;
  padding-left: 0.9vw;
}

.lm1 {
  width: 18vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 39.9vh;
  left: 9.8vw;
}

.lm2 {
  width: 13.06vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 54.6vh;
  left: 3.3vw;
  transform: rotate(90deg);
}

.lm3 {
  width: 13.94vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 69vh;
  left: 9.8vw;
}

.lm4 {
  width: 5.5vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 65vh;
  left: 23vw;
  transform: rotate(139deg);
}

.lm5 {
  width: 9.58vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 50.5vh;
  left: 23vw;
  transform: rotate(90deg);
}

/* ===== Mid Left Top ===== */
.mid-left-top-text {
  top: 31vh;
  left: 33vw;
  width: 18vw;
  height: 20vh;
  padding-left: 0.4vw;
}

.mlt1 {
  width: 13.94vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 26vh;
  left: 35.2vw;
}

.mlt2 {
  width: 5.5vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 30vh;
  left: 30.4vw;
  transform: rotate(139deg);
}

.mlt3 {
  width: 9.58vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 44.4vh;
  left: 26.3vw;
  transform: rotate(90deg);
}

.mlt4 {
  width: 18vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 55vh;
  left: 31.1vw;
}

.mlt5 {
  width: 13.06vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 40.5vh;
  left: 42.6vw;
  transform: rotate(90deg);
}

/* ===== Mid Left Bottom ===== */
.mid-left-bottom-text {
  bottom: 13vh;
  left: 30vw;
  width: 18vw;
  height: 20vh;
}

.mlb1 {
  width: 18vw;
  border: 1.5px solid #fff;
  position: absolute;
  bottom: 38vh;
  left: 31.1vw;
}

.mlb2 {
  width: 5.5vw;
  border: 1.5px solid #fff;
  position: absolute;
  bottom: 34.1vh;
  left: 26.4vw;
  transform: rotate(139deg);
}

.mlb3 {
  width: 9.58vw;
  border: 1.5px solid #fff;
  position: absolute;
  bottom: 19.5vh;
  left: 22.4vw;
  transform: rotate(90deg);
}

.mlb4 {
  width: 22vw;
  border: 1.5px solid #fff;
  position: absolute;
  bottom: 9vh;
  left: 27.2vw;
}

.mlb5 {
  width: 13.06vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 76.3vh;
  left: 42.6vw;
  transform: rotate(90deg);
}

/* ===== Mid Right Top ===== */
.mid-right-top-text {
  top: 30vh;
  right: 29vw;
  width: 18vw;
  height: 20vh;
  padding-left: 0.4vw;
}

.mrt1 {
  width: 13.94vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 26vh;
  right: 34vw;
}

.mrt2 {
  width: 13.06vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 40.5vh;
  right: 41.3vw;
  transform: rotate(90deg);
}

.mrt3 {
  width: 18vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 55vh;
  right: 29.9vw;
}

.mrt4 {
  width: 9.58vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 44.4vh;
  right: 25.1vw;
  transform: rotate(90deg);
}

.mrt5 {
  width: 5.5vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 30vh;
  right: 29.2vw;
  transform: rotate(41deg);
}

/* ===== Mid Right Bottom ===== */
.mid-right-bottom-text {
  right: 28vw;
  bottom: 13vh;
  width: 18vw;
  height: 20vh;
  line-height: 1;
}

.mrb1 {
  width: 18vw;
  border: 1.5px solid #fff;
  position: absolute;
  bottom: 38vh;
  right: 29.9vw;
}

.mrb2 {
  width: 13.06vw;
  border: 1.5px solid #fff;
  position: absolute;
  bottom: 23.6vh;
  right: 41.3vw;
  transform: rotate(90deg);
}

.mrb3 {
  width: 22vw;
  border: 1.5px solid #fff;
  position: absolute;
  bottom: 9vh;
  right: 25.9vw;
}

.mrb4 {
  width: 9.58vw;
  border: 1.5px solid #fff;
  position: absolute;
  bottom: 19.5vh;
  right: 21.1vw;
  transform: rotate(90deg);
}

.mrb5 {
  width: 5.5vw;
  border: 1.5px solid #fff;
  position: absolute;
  bottom: 34.1vh;
  right: 25.2vw;
  transform: rotate(41deg);
}

/* ===== Right Mid ===== */
.right-mid-set-text {
  top: 45vh;
  right: 9vw;
  width: 15vw;
  height: 18vh;
}

.rm1 {
  width: 18vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 39.9vh;
  right: 8.7vw;
}

.rm2 {
  width: 9.58vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 50.5vh;
  right: 21.9vw;
  transform: rotate(90deg);
}

.rm3 {
  width: 5.5vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 65vh;
  right: 21.9vw;
  transform: rotate(41deg);
}

.rm4 {
  width: 13.94vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 69vh;
  right: 8.7vw;
}

.rm5 {
  width: 13.06vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 54.6vh;
  right: 2.2vw;
  transform: rotate(90deg);
}

/* ===== Right Top ===== */
.right-top-text {
  top: 9vh;
  right: 14vw;
  width: 15vw;
  height: 18vh;
}

.rt1 {
  width: 18vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 3vh;
  right: 14vw;
}

.rt2 {
  width: 9.58vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 13.6vh;
  right: 27.2vw;
  transform: rotate(90deg);
}

.rt3 {
  width: 5.5vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 28vh;
  right: 27.2vw;
  transform: rotate(41deg);
}

.rt4 {
  width: 13.94vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 32vh;
  right: 14vw;
}

.rt5 {
  width: 13.06vw;
  border: 1.5px solid #fff;
  position: absolute;
  top: 17.3vh;
  right: 7.5vw;
  transform: rotate(90deg);
}

/* Water -Section */
#water-section {
  width: 100%;
  height: 110vh;
  position: relative;
}
#water-section .light-black-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(23, 23, 23, 0.262745098);
}
#water-section .text-bg {
  width: 100%;
  height: 100vh;
  opacity: 0;
  color: transparent;
  font-family: "Korataki";
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/water-droplets-on-a-metal-surface.jpg);
  background-size: cover;
  -webkit-background-clip: text;
          background-clip: text;
}
#water-section .water-splash1 {
  width: 50vw;
  height: 90vh;
  position: absolute;
  top: 50%;
  left: -20%;
  transform: translate(-50%, -50%) rotate(90deg);
  z-index: 1;
}
#water-section .water-splash1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
#water-section .black-phone-cen {
  width: 27vw;
  height: 28vw;
  background-image: url(../assets/hero-phone-black.png);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  will-change: transform, opacity;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 3;
}
#water-section .water-splash2 {
  width: 50vw;
  height: 90vh;
  position: absolute;
  top: 50%;
  left: 115%;
  height: 50%;
  transform: translate(-50%, -50%) rotate(270deg);
  z-index: 10;
}
#water-section .water-splash2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

#back-camera {
  width: 100%;
  height: 100vh;
  position: relative;
}
#back-camera .big-text {
  font-size: 7.2vw;
  color: #171717;
  position: absolute;
  top: 18vw;
  left: -10vw;
  font-family: "Korataki-Rg";
  transform: rotate(270deg);
}
#back-camera .camera-head {
  font-family: "Korataki-Rg";
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-size: 3.1vw;
  padding-top: 2vw;
  color: var(--grey);
}
#back-camera .cam-phone {
  width: 45vw;
  height: 33vw;
  background-image: url(../assets/hero-phone-black.png);
  position: absolute;
  top: 18vw;
  left: 25vw;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#back-camera .cam-line-list {
  width: 100;
  height: 100%;
}
#back-camera .cam-line-list .cam1-line {
  width: 5.81vw;
  border: 0.1px solid #fff;
  position: absolute;
  top: 20.8vw;
  left: 36.5vw;
}
#back-camera .cam-line-list .cam1-1-line {
  width: 4.35vw;
  border: 0.1px solid #fff;
  position: absolute;
  top: 19.2vw;
  left: 32.8vw;
  transform: rotate(45deg);
}
#back-camera .cam-line-list .cam2-line {
  width: 5.81vw;
  border: 0.1px solid #fff;
  position: absolute;
  top: 24vw;
  left: 36.5vw;
}
#back-camera .cam-line-list .cam2-1-line {
  width: 4.35vw;
  border: 0.1px solid #fff;
  position: absolute;
  top: 25.2vw;
  left: 32.66vw;
  transform: rotate(145deg);
}
#back-camera .cam-line-list .flash-line {
  width: 7.26vw;
  border: 0.1px solid #fff;
  position: absolute;
  top: 19.4vw;
  left: 41.6vw;
  transform: rotate(90deg);
}
#back-camera .cam-line-list .back-line {
  width: 7.26vw;
  border: 0.1px solid #fff;
  position: absolute;
  top: 18vw;
  left: 51.7vw;
  transform: rotate(125deg);
}
#back-camera .cam-line-list .gylp-line {
  width: 7.26vw;
  border: 0.1px solid #fff;
  position: absolute;
  top: 23.8vw;
  left: 54vw;
}
#back-camera .main-cam {
  width: 100%;
  height: 100%;
}
#back-camera .main-cam .out-mc {
  font-family: "Korataki-Rg";
  font-size: 1vw;
  position: absolute;
  top: 12.3vw;
  left: 22.2vw;
  line-height: 1.5;
  color: var(--grey);
}
#back-camera .main-cam .mc-text {
  font-family: "Sansation";
  width: 8vw;
  font-size: 1vw;
  position: absolute;
  top: 15vw;
  left: 23.44vw;
  line-height: 1.5;
}
#back-camera .main-cam .mc1 {
  width: 8.71vw;
  border: 0.1px solid #fff;
  position: absolute;
  top: 14.4vw;
  left: 23.44vw;
}
#back-camera .main-cam .mc2 {
  width: 2.4vw;
  border: 0.1px solid #fff;
  position: absolute;
  top: 15.2vw;
  left: 21.5vw;
  transform: rotate(130deg);
}
#back-camera .main-cam .mc3 {
  width: 2.5vw;
  border: 0.1px solid #fff;
  position: absolute;
  top: 17.4vw;
  left: 20.7vw;
  transform: rotate(90deg);
}
#back-camera .main-cam .mc4 {
  width: 10.16vw;
  border: 0.1px solid #fff;
  position: absolute;
  top: 18.66vw;
  left: 21.9vw;
}
#back-camera .main-cam .mc5 {
  width: 2vw;
  border: 0.1px solid #fff;
  position: absolute;
  top: 18.2vw;
  left: 31.7vw;
  transform: rotate(145deg);
}
#back-camera .main-cam .mc6 {
  width: 2vw;
  border: 0.1px solid #fff;
  position: absolute;
  top: 16.7vw;
  left: 32.5vw;
  transform: rotate(90deg);
}
#back-camera .main-cam .mc7 {
  width: 2vw;
  border: 0.1px solid #fff;
  position: absolute;
  top: 15.1vw;
  left: 31.8vw;
  transform: rotate(45deg);
}
#back-camera .ultra-cam {
  width: 100%;
  height: 100%;
}
#back-camera .ultra-cam .out-uc {
  font-family: "Korataki-Rg";
  font-size: 1vw;
  position: absolute;
  top: 30vw;
  left: 22.2vw;
  line-height: 1.5;
  color: var(--grey);
}
#back-camera .ultra-cam .uc-text {
  font-family: "Sansation";
  width: 8vw;
  font-size: 1vw;
  position: absolute;
  top: 25.8vw;
  left: 23.5vw;
  line-height: 1.5;
}
#back-camera .ultra-cam .uc1 {
  width: 8.71vw;
  border: 0.1px solid #fff;
  position: absolute;
  top: 25.1vw;
  left: 22.9vw;
}
#back-camera .ultra-cam .uc2 {
  width: 2.4vw;
  border: 0.1px solid #fff;
  position: absolute;
  top: 26vw;
  left: 21vw;
  transform: rotate(130deg);
}
#back-camera .ultra-cam .uc3 {
  width: 2.5vw;
  border: 0.1px solid #fff;
  position: absolute;
  top: 28.1vw;
  left: 20.2vw;
  transform: rotate(90deg);
}
#back-camera .ultra-cam .uc4 {
  width: 10.16vw;
  border: 0.1px solid #fff;
  position: absolute;
  top: 29.4vw;
  left: 21.4vw;
}
#back-camera .ultra-cam .uc5 {
  width: 2vw;
  border: 0.1px solid #fff;
  position: absolute;
  top: 28.9vw;
  left: 31.2vw;
  transform: rotate(145deg);
}
#back-camera .ultra-cam .uc6 {
  width: 2vw;
  border: 0.1px solid #fff;
  position: absolute;
  top: 27.5vw;
  left: 32vw;
  transform: rotate(90deg);
}
#back-camera .ultra-cam .uc7 {
  width: 2vw;
  border: 0.1px solid #fff;
  position: absolute;
  top: 25.8vw;
  left: 31.3vw;
  transform: rotate(45deg);
}
#back-camera .flash {
  width: 100%;
  height: 100%;
}
#back-camera .flash .f-text {
  font-family: "Sansation";
  width: 8vw;
  font-size: 1.5vw;
  position: absolute;
  top: 13.2vw;
  left: 44vw;
  line-height: 1.5;
}
#back-camera .flash .f1 {
  width: 5.81vw;
  border: 0.1px solid #fff;
  position: absolute;
  top: 12.89vw;
  left: 42.9vw;
}
#back-camera .flash .f2 {
  width: 1.5vw;
  border: 0.1px solid #fff;
  position: absolute;
  top: 13.5vw;
  left: 41.7vw;
  transform: rotate(130deg);
}
#back-camera .flash .f3 {
  width: 1.8vw;
  border: 0.1px solid #fff;
  position: absolute;
  top: 14.9vw;
  left: 41.1vw;
  transform: rotate(90deg);
}
#back-camera .flash .f4 {
  width: 6.7vw;
  border: 0.1px solid #fff;
  position: absolute;
  top: 15.8vw;
  left: 42vw;
}
#back-camera .flash .f5 {
  width: 1.2vw;
  border: 0.1px solid #fff;
  position: absolute;
  top: 15.4vw;
  left: 48.6vw;
  transform: rotate(144deg);
}
#back-camera .flash .f6 {
  width: 1.4vw;
  border: 0.9px solid #fff;
  position: absolute;
  top: 14.5vw;
  left: 48.9vw;
  transform: rotate(90deg);
}
#back-camera .flash .f7 {
  width: 1.3vw;
  border: 0.1px solid #fff;
  position: absolute;
  top: 13.35vw;
  left: 48.5vw;
  transform: rotate(45deg);
}
#back-camera .back-light {
  width: 100%;
  height: 100%;
}
#back-camera .back-light .bl-text {
  font-family: "Sansation";
  width: 8vw;
  font-size: 1.1vw;
  position: absolute;
  top: 12.7vw;
  left: 58.5vw;
  line-height: 1.5;
}
#back-camera .back-light .bl1 {
  width: 5.81vw;
  border: 0.1px solid #fff;
  position: absolute;
  top: 12vw;
  left: 58.5vw;
}
#back-camera .back-light .bl2 {
  width: 1.5vw;
  border: 0.1px solid #fff;
  position: absolute;
  top: 12.53vw;
  left: 57.25vw;
  transform: rotate(130deg);
}
#back-camera .back-light .bl3 {
  width: 1.8vw;
  border: 0.1px solid #fff;
  position: absolute;
  top: 14vw;
  left: 56.6vw;
  transform: rotate(90deg);
}
#back-camera .back-light .bl4 {
  width: 6.7vw;
  border: 0.1px solid #fff;
  position: absolute;
  top: 15vw;
  left: 57.45vw;
}
#back-camera .back-light .bl5 {
  width: 1.2vw;
  border: 0.1px solid #fff;
  position: absolute;
  top: 14.71vw;
  left: 63.98vw;
  transform: rotate(144deg);
}
#back-camera .back-light .bl6 {
  width: 1.4vw;
  border: 0.9px solid #fff;
  position: absolute;
  top: 13.6vw;
  left: 64.4vw;
  transform: rotate(90deg);
}
#back-camera .back-light .bl7 {
  width: 1.3vw;
  border: 0.1px solid #fff;
  position: absolute;
  top: 12.41vw;
  left: 63.98vw;
  transform: rotate(45deg);
}
#back-camera .glyph-light {
  width: 100%;
  height: 100%;
}
#back-camera .glyph-light .gl-text {
  font-family: "Sansation";
  width: 8vw;
  font-size: 1.5vw;
  position: absolute;
  top: 22vw;
  left: 63vw;
  line-height: 1.5;
}
#back-camera .glyph-light .gl1 {
  width: 8.71vw;
  border: 0.1px solid #fff;
  position: absolute;
  top: 20.84vw;
  left: 62.7vw;
}
#back-camera .glyph-light .gl2 {
  width: 2.4vw;
  border: 0.1px solid #fff;
  position: absolute;
  top: 21.7vw;
  left: 60.8vw;
  transform: rotate(130deg);
}
#back-camera .glyph-light .gl3 {
  width: 2.5vw;
  border: 0.1px solid #fff;
  position: absolute;
  top: 23.8vw;
  left: 60vw;
  transform: rotate(90deg);
}
#back-camera .glyph-light .gl4 {
  width: 10.16vw;
  border: 0.1px solid #fff;
  position: absolute;
  top: 25vw;
  left: 61.3vw;
}
#back-camera .glyph-light .gl5 {
  width: 2vw;
  border: 0.1px solid #fff;
  position: absolute;
  top: 24.45vw;
  right: 25.8vw;
  transform: rotate(145deg);
}
#back-camera .glyph-light .gl6 {
  width: 2vw;
  border: 0.1px solid #fff;
  position: absolute;
  top: 22.88vw;
  right: 25vw;
  transform: rotate(90deg);
}
#back-camera .glyph-light .gl7 {
  width: 2.2vw;
  border: 0.1px solid #fff;
  position: absolute;
  top: 21.4vw;
  right: 25.7vw;
  transform: rotate(40deg);
}

#front-camera {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #000;
}
#front-camera .front-cam {
  width: 100%;
  height: 100%;
}
#front-camera .front-cam .out-fc {
  font-family: "Korataki-Rg";
  font-size: 1vw;
  position: absolute;
  top: 11vw;
  left: 13.5vw;
  line-height: 1.5;
  color: var(--grey);
}
#front-camera .front-cam .fc-text {
  font-family: "Sansation";
  width: 8vw;
  font-size: 1vw;
  position: absolute;
  top: 6.5vw;
  left: 16vw;
  line-height: 1.5;
}
#front-camera .front-cam .f-line {
  width: 6.5vw;
  border: 0.1px solid #fff;
  position: absolute;
  top: 8.1vw;
  left: 24.8vw;
}
#front-camera .front-cam .fc1 {
  width: 8.71vw;
  border: 0.1px solid #fff;
  position: absolute;
  top: 5.8vw;
  left: 14.7vw;
}
#front-camera .front-cam .fc2 {
  width: 2.7vw;
  border: 0.1px solid #fff;
  position: absolute;
  top: 6.85vw;
  left: 12.5vw;
  transform: rotate(130deg);
}
#front-camera .front-cam .fc3 {
  width: 2.5vw;
  border: 0.1px solid #fff;
  position: absolute;
  top: 9vw;
  left: 11.75vw;
  transform: rotate(90deg);
}
#front-camera .front-cam .fc4 {
  width: 10.25vw;
  border: 0.1px solid #fff;
  position: absolute;
  top: 10.2vw;
  left: 13.1vw;
}
#front-camera .front-cam .fc5 {
  width: 2vw;
  border: 0.1px solid #fff;
  position: absolute;
  top: 9.7vw;
  left: 23vw;
  transform: rotate(145deg);
}
#front-camera .front-cam .fc6 {
  width: 2vw;
  border: 0.1px solid #fff;
  position: absolute;
  top: 8.2vw;
  left: 23.8vw;
  transform: rotate(90deg);
}
#front-camera .front-cam .fc7 {
  width: 2vw;
  border: 0.1px solid #fff;
  position: absolute;
  top: 6.48vw;
  left: 23.1vw;
  transform: rotate(45deg);
}
#front-camera .front-phone {
  width: 14vw;
  height: 28vw;
  position: absolute;
  top: 7vw;
  left: 30vw;
}
#front-camera .front-phone img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  -o-object-position: center;
     object-position: center;
}
#front-camera .front-text {
  position: absolute;
  top: 12vw;
  right: 18vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 14vw;
}
#front-camera .front-text h1 {
  font-family: "Korataki-Rg";
  font-size: 3vw;
  line-height: 1;
  color: var(--grey);
}
#front-camera .front-text p {
  font-family: "Sansation";
  font-size: 2vw;
  font-weight: 600;
  color: var(--grey);
}

#display {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
#display .display-phone {
  width: 18vw;
  height: 35vw;
  transform: rotate(270deg);
  position: absolute;
  top: 7vw;
}
#display .display-phone img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  -o-object-position: center;
     object-position: center;
}
#display .display-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2vw;
}
#display .display-head h1 {
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: "Korataki-Rg";
  font-size: 2vw;
  font-weight: 400;
  color: var(--grey);
  margin: 0;
}
#display .display-head p {
  font-family: "Korataki-Rg";
  margin-top: 1.5vw;
  font-size: 1.2vw;
  color: var(--grey);
}
#display .display-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}
#display .display-text h1 {
  font-family: "Korataki-Rg";
  font-size: 13.5vw;
  letter-spacing: 1vw;
  font-weight: 300;
  color: var(--grey);
}
#display .display-text h2 {
  font-family: "Korataki-Rg";
  font-size: 8vw;
  font-weight: 300;
  background-image: url(../assets/front-side.png);
  color: transparent;
  background-position: center;
  background-size: cover;
  -webkit-background-clip: text;
          background-clip: text;
}

#processor {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3vw;
  gap: 3vw;
  position: relative;
}
#processor .processor-head {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#processor .processor-head p {
  font-family: "Korataki-Rg";
  color: var(--grey);
  font-size: 1.9vw;
  line-height: 1.2;
}
#processor .processor-para {
  font-family: "Korataki-Rg";
  color: var(--grey);
}
#processor .processor-chip {
  font-family: "Korataki-Rg";
  color: var(--grey);
  font-size: 17vw;
  letter-spacing: 0.8vw;
}
#processor .processor-phone {
  width: 30vw;
  height: 15vw;
  position: absolute;
  top: 19.8vw;
}
#processor .processor-phone video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; /* Makes it fill the div properly */
  transform: translate(-50%, -50%);
  border-radius: 1.5vw;
}
#processor .processor-phone .hand {
  position: absolute;
  top: 5vw;
  width: 30vw;
  height: 20vw;
  background-image: url(../assets/hand.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 999;
}

#phone-body {
  width: 100%;
  height: 100vh;
  position: relative;
}
#phone-body .phone-body1 {
  display: flex;
  flex-direction: column;
  gap: 3vw;
  position: absolute;
  top: 8vw;
  left: 0;
  width: 100%;
}
#phone-body .phone-body1 h1 {
  font-family: "Korataki-Rg";
  font-size: 2.3vw;
  color: var(--grey);
  padding-left: 10vw;
}
#phone-body .phone-body1 .body-img {
  width: 60vw;
  height: 6vw;
  position: relative;
  margin-left: -10vw;
}
#phone-body .phone-body1 .body-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  display: block;
}
#phone-body .phone-body2 {
  display: flex;
  flex-direction: column;
  gap: 4vw;
  position: absolute;
  bottom: 4vw;
  right: 0;
  width: 100%;
  align-items: flex-end;
}
#phone-body .phone-body2 h1 {
  font-family: "Korataki-Rg";
  font-size: 2.3vw;
  color: var(--grey);
  padding-right: 10vw;
}
#phone-body .phone-body2 .body-img {
  width: 60vw;
  height: 6vw;
  position: relative;
  margin-right: -10vw;
}
#phone-body .phone-body2 .body-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  display: block;
}

#bend-phone {
  width: 100;
  height: 100vh;
  position: relative;
}
#bend-phone .bend-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2vw;
  gap: 0.1vw;
}
#bend-phone .bend-text h1 {
  font-family: "Korataki-Rg";
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--grey);
}
#bend-phone .bend-text .outline {
  color: transparent;
  -webkit-text-stroke: 0.2px var(--grey);
}
#bend-phone .bend-white {
  width: 60vw;
  position: absolute;
  left: -10vw;
  margin-top: 1vw;
}
#bend-phone .bend-white img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#bend-phone .bend-black {
  width: 60vw;
  position: absolute;
  right: -9.6vw;
  margin-top: 15vw;
}
#bend-phone .bend-black img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

#phone-info {
  width: 100%;
  min-height: 100vh;
}
#phone-info .deatil-con {
  width: 100%;
}
#phone-info .deatil-con h1 {
  font-family: "Korataki-Rg";
  font-size: 3.2vw;
  color: transparent;
  text-align: center;
  padding: 4vw 0 2.5vw 0;
  -webkit-text-stroke: 0.1px #fff;
  letter-spacing: 0.2vw;
}
#phone-info .info-container {
  width: 100%;
  border-top: 1px solid #fff;
}
#phone-info .info-container .info-head {
  font-family: "Korataki-Rg";
  font-size: 2.3vw;
  padding: 2.6vw;
  color: var(--grey);
}
#phone-info .info-container .info-para {
  font-family: "Korataki-Rg";
  font-size: 1.2vw;
  padding-left: 2.6vw;
  display: none;
  opacity: 0;
  margin-top: 1vw;
}
#phone-info .info-container .info-para li {
  list-style: none;
  margin-bottom: 4vw;
}

#footer {
  width: 100%;
  height: 100vh;
}
#footer .foot1 {
  width: 100%;
  height: 70vh;
  padding: 5vw 0 0 2vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 30%;
}
#footer .foot1 .foot-con {
  font-family: "Korataki-Rg";
}
#footer .foot1 .foot-con h1 {
  font-size: 1.5vw;
  margin-bottom: 2vw;
  font-weight: 300;
}
#footer .foot1 .foot-con li {
  font-size: 0.8vw;
  font-weight: 300;
  list-style: none;
  margin-bottom: 1vw;
}
#footer .foot1 h2 {
  font-size: 1.3vw;
  font-weight: 300;
  text-transform: uppercase;
}
#footer .foot1 .email {
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid #fff;
  margin-top: 2vw;
  border-radius: 0.3vw;
}
#footer .foot1 .email input {
  font-size: 1vw;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  padding: 1vw 0 1vw 3vw;
}
#footer .foot1 .email i {
  color: #000;
  background-color: #fff;
  padding: 0.6vw 0.7vw 0.9vw 0.6vw;
  font-size: 1.5vw;
  border-radius: 0.3vw;
}
#footer .foot2 {
  width: 100%;
  height: 30vh;
  border-top: 2px solid #fff;
  font-family: "Korataki-Rg";
}
#footer .foot2 .foot2-head {
  display: flex;
  justify-content: space-between;
  padding: 2vw 2vw;
}
#footer .foot2 .foot2-head li {
  font-size: 1.2vw;
  list-style: none;
}
#footer .foot2 .foot2-icon {
  display: flex;
  justify-content: center;
  gap: 1vw;
}
#footer .foot2 .foot2-icon li {
  list-style: none;
}
#footer .foot2 .foot2-icon li i {
  font-size: 1.3vw;
  color: #000;
  background-color: #fff;
  border-radius: 50%;
  padding: 0.2vw;
}
#footer .foot2-bottom {
  text-align: center;
  margin-top: 2vw;
}
#footer .foot2-bottom h2 {
  font-size: 1vw;
  font-weight: 300;
}
#footer .foot2-bottom h1 {
  font-size: 1.3vw;
  font-weight: 300;
  margin-top: 1vw;
}/*# sourceMappingURL=style.css.map */